body {
    font-family: Avenir;
}


nav {
    margin-bottom: 25px;
    margin-top: 20px;
}

dd {
    margin-bottom: 10px;
}

.book-container .panel-body {
    min-height: 242px;
}
.book-container img {
    height: 120px;
}
.book-container .price-label {
    font-size: 1.4em;
    font-weight: bold;
}

.book-container .price-label p {
    margin: 4px 0 0 0;
}

.jumbotron {
    background-image: url("../images/food.jpg");
}

#indextext {
    color: white;
    background-color: #E92346;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 5px;
    padding-bottom: 1px;
    opacity:0.90;
    border-radius: 5px;
    margin-bottom: 50px;
}